name: GitHub Action
run-name: ${{ github.actor }} is testing Pickle
on: 
  - push
  - pull_request
jobs:
  Pickle-Test-Action:
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest', 'macos-latest' ]
        python-version: [ '3.4', '3.5', '3.6', '3.7', '3.8', '3.9', '3.10', '3.11', '3.12' ]
        #python-version: [ '3.4.10', '3.5.8', '3.6.8', '3.7.16', '3.8.19', '3.9.19', '3.10.14', '3.11.9', '3.12.3' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
      - run: python --version
      - run: python MainTest.py
